@media only screen and (min-width: 850px) {
  .hamburger-container {
    display: none;
  }
}

@media only screen and (max-width: 1280px) {
  .contactbox {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 1279px) {
  #welcome {
    margin-right: 0;
  }
  #name {
    margin-right: 0;
  }
  #position {
    margin-right: 0;
  }
  #bio {
    margin-right: 0;
  }
  #glass {
    margin-top: 890px;
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  #coding {
    margin-top: 890px;
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
    top: 2810px;
  }
  .fade {
    margin-top: 850px;
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
    top: 2890px;
  }
  .fade:nth-child(odd) {
    margin-top: 840px;
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .bg3 {
    height: 1120px;
  }
}

@media only screen and (max-width: 1023px) {
  #position {
    font-size: 3.5rem;
  }
  #top-button {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .links {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .logo {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .title {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .card {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .card img {
    margin-top: 100px;
  }
  .card2 {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .card3 {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .card:hover {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .card2:hover {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .card3:hover {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@media screen and (max-width: 999px) {
  #glass {
    margin-top: 820px;
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  #coding {
    margin-top: 820px;
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    top: 2810px;
  }
  .fade {
    margin-top: 850px;
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    top: 2980px;
  }
  .fade:nth-child(odd) {
    margin-top: 725px;
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  .bg3 {
    height: 995px;
  }
}

@media only screen and (max-width: 890px) {
  #glass {
    margin-top: 740px;
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
  #coding {
    margin-top: 740px;
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
    top: 2810px;
  }
  .fade {
    margin-top: 850px;
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    top: 3025px;
  }
  .fade:nth-child(odd) {
    margin-top: 625px;
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  .card {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  .card:hover {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .card img {
    margin-top: 70px;
  }
  .bg3 {
    height: 960px;
  }
  #capmar {
    margin-bottom: 60px;
  }
  .overlay {
    margin-top: -625px;
  }
}

@media only screen and (max-width: 849px) {
  #glass {
    margin-top: 640px;
    -webkit-transform: scale(0.65, 0.65);
            transform: scale(0.65, 0.65);
  }
  #coding {
    display: none;
  }
  .fade {
    display: none;
  }
  .fade:nth-child(odd) {
    display: none;
  }
  .bg3 {
    height: 800px;
  }
  .links {
    display: none;
  }
  #top-button {
    display: none;
  }
  #welcome {
    font-size: 1rem;
  }
  #name {
    font-size: 2rem;
  }
  #position {
    font-size: 2.5rem;
  }
  #bio {
    font-size: 1rem;
  }
  #scroll-down {
    margin-top: 280px;
  }
  .title {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .logo {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@media only screen and (max-width: 800px) {
  .card {
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
  .card:hover {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  .card img {
    margin-top: 55px;
  }
  .bg3 {
    height: 810px;
  }
  #glass {
    margin-top: 560px;
  }
  .bg3 {
    height: 760px;
  }
  #aboutmeheader {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 770px) {
  .card {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
}

@media only screen and (max-width: 700px) {
  .card {
    -webkit-transform: scale(0.65, 0.65);
            transform: scale(0.65, 0.65);
  }
  .card:hover {
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
  #glass {
    margin-top: 460px;
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
  .bg3 {
    height: 550px;
  }
  .laptop {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  #position {
    font-size: 2rem;
  }
  #name {
    font-size: 1.5rem;
  }
  #welcome {
    font-size: .8rem;
  }
  #bio {
    text-align: center;
  }
}

@media only screen and (max-width: 650px) {
  .card {
    -webkit-transform: scale(0.65, 0.65);
            transform: scale(0.65, 0.65);
    height: 510px;
  }
  .card2 {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    height: 650px;
  }
  .card3 {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  .card2:hover {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .card3:hover {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  #glass {
    margin-top: 110px;
  }
}

@media only screen and (max-width: 600px) {
  #glass {
    -webkit-transform: scale(0.45, 0.45);
            transform: scale(0.45, 0.45);
    margin-top: -60px;
  }
  .card2 {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
    height: 580px;
  }
  .card3 {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  .card2:hover {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  .card3:hover {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  .bg3 {
    height: 430px;
  }
  #aboutmeheader {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 541px) {
  #position {
    font-size: 1.8rem;
  }
  #name {
    font-size: 1.4rem;
  }
  #bio {
    font-size: .8rem;
  }
  .bg1 {
    height: 900px;
  }
  #scroll-down {
    top: -30px;
  }
  #glass {
    margin-top: -180px;
  }
  .bg3 {
    height: 375px;
  }
  .modal-header .modal-title {
    font-size: 1rem;
  }
  #glass {
    -webkit-transform: scale(0.4, 0.4);
            transform: scale(0.4, 0.4);
    margin-top: -180px;
  }
}

@media only screen and (max-width: 451px) {
  .card2 {
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
    height: 580px;
  }
  .card3 {
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
  }
  .card2:hover {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  .card3:hover {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
}

@media only screen and (max-width: 431px) {
  #glass {
    -webkit-transform: scale(0.35, 0.35);
            transform: scale(0.35, 0.35);
    margin-top: -500px;
  }
  .card {
    height: 480px;
  }
  .card img {
    margin-top: 50px;
  }
  .card2 {
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
    height: 450px;
  }
  .card3 {
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
  }
  .card2:hover {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  .card3:hover {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  .bg3 {
    height: 270px;
  }
  #welcome {
    font-size: .6rem;
  }
  #name {
    font-size: 1.2rem;
  }
  #position {
    font-size: 1.3rem;
  }
  #bio {
    font-size: .7rem;
  }
  .bg1 {
    height: 800px;
  }
  #scroll-down {
    top: -120px;
  }
  .logo {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  .title {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
    margin-left: -30px;
  }
  .modal-header .modal-title {
    font-size: .9rem;
  }
  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    margin: 2px 0;
  }
}

@media only screen and (max-width: 419px) {
  .card2 {
    -webkit-transform: scale(0.55, 0.55);
            transform: scale(0.55, 0.55);
    height: 400px;
  }
  .card3 {
    -webkit-transform: scale(0.55, 0.55);
            transform: scale(0.55, 0.55);
  }
  .card2:hover {
    -webkit-transform: scale(0.65, 0.65);
            transform: scale(0.65, 0.65);
  }
  .card3:hover {
    -webkit-transform: scale(0.65, 0.65);
            transform: scale(0.65, 0.65);
  }
  #glass {
    margin-top: -555px;
  }
}

@media only screen and (max-width: 362px) {
  #glass {
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25);
    margin-top: -450px;
  }
  .card2 {
    -webkit-transform: scale(0.55, 0.55);
            transform: scale(0.55, 0.55);
    height: 500px;
  }
  .card3 {
    -webkit-transform: scale(0.55, 0.55);
            transform: scale(0.55, 0.55);
  }
  .card2:hover {
    -webkit-transform: scale(0.65, 0.65);
            transform: scale(0.65, 0.65);
  }
  .card3:hover {
    -webkit-transform: scale(0.65, 0.65);
            transform: scale(0.65, 0.65);
  }
  .bg3 {
    height: 200px;
  }
  #scroll-down {
    top: -140px;
  }
  .modal-header .modal-title {
    font-size: .8rem;
  }
}
/*# sourceMappingURL=breakpointclass.css.map */