@media only screen and (min-width: 850px){
    .hamburger-container{
        display: none;
    }
    
}

@media only screen and (max-width: 2028px){
    #position{
        font-size: 3.5rem;
        margin-left: 230px;

    }

}

@media only screen and (max-width: 1720px){
    #position{
        font-size: 3.25rem;
        margin-left: 140px;

    }

}

@media only screen and (max-width: 1280px){
    .contactbox{
        width: fit-content;
        margin-right: 15px;
    }
    #position{
        margin-left: 0;
    }

}

@media only screen and (max-width:1279px){
    #welcome{
        margin-right: 0;
    }
    #name {
        margin-right: 0;
    }
    #bio {
        margin-right: 0;
    }
    #glass {
        margin-top: 1000px;
        transform: scale(.9,.9);
    }
    #coding{
        margin-top: 1000px;
        transform: scale(.9,.9);
        top: 2810px;


    }
    .fade {
        transform: scale(.9,.9);
        top: 3840px;


    }
    .fadebottom{
        top: 4678px;
        transform: scale(.9,.9);

    }
    .bg3{
        height: 1300px;
    }

    .card3{
        margin-top: 250px;
    }
    
}

@media only screen and (max-width: 1175px){
    #position{
        font-size: 2.9rem;
    }
}

@media only screen and (max-width: 1023px){
    
    #top-button{
        transform: scale(.9,.9);
    }

    .links{
        transform: scale(.9,.9);
    }
    .logo{
        transform: scale(.9,.9);

    }
    .title{
        transform: scale(.9,.9);

    }
    .card{
        transform: scale(.9,.9);

    }

    #accentmar{
        margin-bottom: 100px;
    }


    .card2{
        transform: scale(.9,.9);

    }
    .card3{
        transform: scale(.9,.9);

    }
    .card:hover{
        transform: scale(1,1);

    }
    .card2:hover{
        transform: scale(1,1);

    }
    .card3:hover{
        transform: scale(1,1);

    }

    #position{
        font-size: 2.7rem;
    }
}

@media screen and (max-width:999px){
    #glass {
        margin-top: 900px;
        transform: scale(.80,.80);
    }
    #coding{
        margin-top: 900px;
        transform: scale(.80,.80);

    }
    .fade {
        transform: scale(.80,.80);
        top: 3785px;
    }
    .fadebottom{
        transform: scale(.80,.80);
        top: 4530px;


    }
    .bg3{
        height: 1150px;
    }
    #position{
        font-size: 2.6rem;
    }
}

@media only screen and (max-width:890px){
    #glass {
        margin-top: 700px;
        transform: scale(.75,.75);
    }
    #coding{
        margin-top: 700px;
        transform: scale(.75,.75);

    }
    .fade {
        transform: scale(.80,.80);
        top: 3610px;
    }
    .fadebottom{
        transform: scale(.80,.80);
        top: 4315px;
        height: 62px;

    }
    .card{
        transform: scale(.80,.80);
    }
    .card2{
        margin-top: -90px;
    }
    .card3{
        margin-top: 200px;
    }
    .card:hover{
        transform: scale(.9,.9);

    }
    #accentmar{
        margin-bottom: 70px;
    }
    .bg3{
        height: 1090px;
    }
    #position{
        font-size: 2.4rem;
    }
}




@media only screen and (max-width: 849px){
    #glass {
        margin-top: 600px;
        transform: scale(.65,.65);
    }
    #coding{
        display: none;

    }
    .fade {
        display: none;
    }
    .fadebottom{
        display: none;
    }
    .card{
        margin-bottom: 230px;
    }
    .card3{
        margin-top: 160px;
    }

    .bg3{
        height: 980px;
    }
    .links{
        display: none;
    }
    
    #top-button {
        display: none;
    }
    #welcome{
        font-size: 1rem;
    }
    #name{
        font-size: 2rem;
    }
   
    #bio{
        font-size: 1rem;
    }
    #scroll-down{
        margin-top: 280px;
    }
    .title{
        transform: scale(1,1);
    }
    .logo{
        transform: scale(1,1);
    }
    #position{
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 800px){
    
    .card{
        overflow: hidden;
        height: 525px;
    }
    .card img{
        max-height: 450px;
        width: 100%;
        height: auto;
        
    }
    

    .caption{
        overflow: visible;
    }


    .card-container{
        width: 100%;
    }

    .card:hover{
        transform: scale(.85,.85);

    }

    .card2{
        margin-top: -150px;

    }
    .card3{
        margin-top: 180px;
    }
    #glass {
        margin-top: 580px;
    }
    .bg3{
        height: 985px;
    }
    #aboutmeheader{
        font-size: 3rem;
    }
    
    
}

@media only screen and (max-width: 775px){

    #position{
        font-size: 2rem;
    }
}



@media only screen and (max-width: 709px){
    
    #glass {
        margin-top: 510px;
        transform: scale(.6,.6);
    }
    
    .bg3{
        height: 880px;
    }
    .laptop{
        transform: scale(.9);
    }
    
    #name{
        font-size: 1.5rem;
    }

    #bio{
        text-align: center;
    }
    #position{
        text-align: center;
    }
}

@media only screen and (max-width: 665px){
    
    .card2{
        transform: scale(.8,.8);
        margin-top: -210px;

    }
    .card3{
        transform: scale(.8,.8);
        margin-top: 100px;

    }
    .card2:hover{
        transform: scale(.9,.9);

    }
    .card3:hover{
        transform: scale(.9,.9);

    }
    #glass {
        margin-top: 330px;
        transform: scale(.55,.55);
        
        
    }
    .bg3{
        height: 810px;
    }
    
}


@media only screen and (max-width: 615px){
    #glass{
        transform: scale(.5, .5);
        margin-top: 80px;
    }
    .card2{
        transform: scale(.7,.7);
        margin-top: -300px;


    }
    .card3{
        transform: scale(.7,.7);
        margin-top: 15px;

    }
    .card2:hover{
        transform: scale(.8,.8);

    }
    .card3:hover{
        transform: scale(.8,.8);

    }
    .bg3{
        height: 710px;
    }

    #aboutmeheader{
        font-size: 3rem;
    }
}

@media only screen and (max-width: 547px){
    
    #name{
        font-size: 1.4rem;
    }
    #bio{
        font-size: .8rem;
    }
    .bg1{
        height: 900px;
    }
    #scroll-down{
        top: -100px;
    }
    .card2{
        margin-top: -320px;

    }
    .bg3{
        height: 660px;
    }
    .modal-header .modal-title{
        font-size: 1rem;
    
    }

    #glass{
        transform: scale(.45, .45);
        margin-top: -50px;
    }
    
}

@media only screen and (max-width: 480px){
    .card2{
        transform: scale(.6,.6);
        height: 580px;
        margin-top: -390px;


    }
    .card3{
        transform: scale(.6,.6);
        margin-top: -30px;

    }
    .card2:hover{
        transform: scale(.7,.7);

    }
    .card3:hover{
        transform: scale(.7,.7);

    }
    #glass{
        margin-top: -330px;
        transform: scale(.4, .4);

    }
    .bg3{
        height: 525px;
    }
}



@media only screen and (max-width: 432px){
    #glass{
        margin-top: -620px;
        transform: scale(.35, .35);

    }

    .card2{
        transform: scale(.55,.55);
        margin-top: -450px;

    }
    .card3{
        transform: scale(.55,.55);
        margin-top: -100px;

    }
    .card2:hover{
        transform: scale(.65,.65);

    }
    .card3:hover{
        transform: scale(.65,.65);

    }
    .bg3{
        height: 435px;
    }
    #welcome{
        font-size: .6rem;
    }
    #name{
        font-size:1.2rem;
    }
    
    #bio{
        font-size: .7rem;
    }
    .bg1{
        height: 800px;
    }
    #scroll-down{
        top: -120px;
    }
    .logo{
        transform: scale(.7,.7);

    }
    .title{
        transform: scale(.7,.7);
        margin-left: -30px;
    }
    .modal-header .modal-title{
        font-size: .9rem;
    
    }

    .bar1, .bar2, .bar3 {
        width: 20px;
        height: 2px;
        margin: 2px 0;
    
    }
}

@media only screen and (max-width: 419px){
    .card2{
        transform: scale(.5,.5);
        margin-top: -480px;
    }
    .card3{
        transform: scale(.5,.5);
        margin-top: -140px;

    }
    .card2:hover{
        transform: scale(.6,.6);

    }
    .card3:hover{
        transform: scale(.6,.6);

    }

    #glass {
        margin-top: -700px;

    }
    .bg3{
        height: 425px;
    }
}

@media only screen and (max-width: 390px){
    .card2{
        transform: scale(.45,.45);
        margin-top: -500px;
    }
    .card3{
        transform: scale(.45,.45);
        margin-top: -180px;

    }
    .card2:hover{
        transform: scale(.55,.55);

    }
    .card3:hover{
        transform: scale(.55,.55);

    }

    #glass {
        margin-top: -830px;
        transform: scale(.3, .3);



    }
    .bg3{
        height: 325px;
    }
}


@media only screen and (max-width: 350px){
    #glass{
        margin-top: -920px;
    }
    .card2{
        transform: scale(.4,.4);
        margin-top: -550px;


    }
    .card3{
        transform: scale(.4,.4);
        margin-top: -220px;

    }
    .card2:hover{
        transform: scale(.5,.5);

    }
    .card3:hover{
        transform: scale(.5,.5);

    }
    .bg3{
        height: 320px;
    }
    
    #scroll-down{
        top: -140px;
    }
    .modal-header .modal-title{
        font-size: .8rem;

    }

}