@media only screen and (min-width: 850px) {
  .hamburger-container {
    display: none;
  }
}

@media only screen and (max-width: 1280px) {
  .contactbox {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 1279px) {
  #welcome {
    margin-right: 0;
  }
  #name {
    margin-right: 0;
  }
  #position {
    margin-right: 0;
  }
  #bio {
    margin-right: 0;
  }
  #glass {
    margin-top: 1000px;
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  #coding {
    margin-top: 1000px;
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
    top: 2810px;
  }
  .fade {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
    top: 3840px;
  }
  .fadebottom {
    top: 4678px;
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .bg3 {
    height: 1300px;
  }
  .card3 {
    margin-top: 250px;
  }
}

@media only screen and (max-width: 1023px) {
  #position {
    font-size: 3.5rem;
  }
  #top-button {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .links {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .logo {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .title {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .card {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .card img {
    margin-top: 100px;
  }
  .card2 {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .card3 {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .card:hover {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .card2:hover {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .card3:hover {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@media screen and (max-width: 999px) {
  #glass {
    margin-top: 900px;
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  #coding {
    margin-top: 900px;
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  .fade {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    top: 3785px;
  }
  .fadebottom {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    top: 4300px;
  }
  .bg3 {
    height: 1150px;
  }
}

@media only screen and (max-width: 890px) {
  #glass {
    margin-top: 700px;
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
  #coding {
    margin-top: 700px;
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
  .fade {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    top: 3610px;
  }
  .fadebottom {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    top: 4315px;
    height: 62px;
  }
  .card {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  .card2 {
    margin-top: -90px;
  }
  .card3 {
    margin-top: 200px;
  }
  .card:hover {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .card img {
    margin-top: 70px;
  }
  .bg3 {
    height: 1090px;
  }
}

@media only screen and (max-width: 849px) {
  #glass {
    margin-top: 600px;
    -webkit-transform: scale(0.65, 0.65);
            transform: scale(0.65, 0.65);
  }
  #coding {
    display: none;
  }
  .fade {
    display: none;
  }
  .fadebottom {
    display: none;
  }
  .card {
    margin-bottom: 200px;
  }
  .card3 {
    margin-top: 200px;
  }
  .bg3 {
    height: 980px;
  }
  .links {
    display: none;
  }
  #top-button {
    display: none;
  }
  #welcome {
    font-size: 1rem;
  }
  #name {
    font-size: 2rem;
  }
  #position {
    font-size: 2.5rem;
  }
  #bio {
    font-size: 1rem;
  }
  #scroll-down {
    margin-top: 280px;
  }
  .title {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .logo {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@media only screen and (max-width: 800px) {
  .card {
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
  .card:hover {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  .card img {
    margin-top: 55px;
  }
  .bg3 {
    height: 810px;
  }
  #glass {
    margin-top: 560px;
  }
  .bg3 {
    height: 980px;
  }
  #aboutmeheader {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 770px) {
  .card {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
}

@media only screen and (max-width: 700px) {
  .card {
    -webkit-transform: scale(0.65, 0.65);
            transform: scale(0.65, 0.65);
  }
  .card:hover {
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
  #glass {
    margin-top: 500px;
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
  }
  .bg3 {
    height: 880px;
  }
  .laptop {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  #position {
    font-size: 2rem;
  }
  #name {
    font-size: 1.5rem;
  }
  #welcome {
    font-size: .8rem;
  }
  #bio {
    text-align: center;
  }
}

@media only screen and (max-width: 665px) {
  .card {
    -webkit-transform: scale(0.65, 0.65);
            transform: scale(0.65, 0.65);
  }
  .card2 {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    margin-top: -150px;
  }
  .card3 {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    margin-top: 100px;
  }
  .card2:hover {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .card3:hover {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  #glass {
    margin-top: 325px;
    -webkit-transform: scale(0.55, 0.55);
            transform: scale(0.55, 0.55);
  }
  .bg3 {
    height: 835px;
  }
}

@media only screen and (max-width: 615px) {
  #glass {
    -webkit-transform: scale(0.45, 0.45);
            transform: scale(0.45, 0.45);
    margin-top: 50px;
  }
  .card2 {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
    margin-top: -200px;
  }
  .card3 {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
    margin-top: 20px;
  }
  .card2:hover {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  .card3:hover {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  .bg3 {
    height: 630px;
  }
  #aboutmeheader {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 541px) {
  #position {
    font-size: 1.8rem;
  }
  #name {
    font-size: 1.4rem;
  }
  #bio {
    font-size: .8rem;
  }
  .bg1 {
    height: 900px;
  }
  #scroll-down {
    top: -30px;
  }
  .bg3 {
    height: 590px;
  }
  .modal-header .modal-title {
    font-size: 1rem;
  }
  #glass {
    -webkit-transform: scale(0.4, 0.4);
            transform: scale(0.4, 0.4);
    margin-top: -50px;
  }
}

@media only screen and (max-width: 451px) {
  .card2 {
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
    height: 580px;
  }
  .card3 {
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
  }
  .card2:hover {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  .card3:hover {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  #glass {
    margin-top: -150px;
  }
  .bg3 {
    height: 550px;
  }
}

@media only screen and (max-width: 431px) {
  #glass {
    -webkit-transform: scale(0.35, 0.35);
            transform: scale(0.35, 0.35);
    margin-top: -365px;
  }
  .card img {
    margin-top: 50px;
  }
  .card2 {
    -webkit-transform: scale(0.55, 0.55);
            transform: scale(0.55, 0.55);
  }
  .card3 {
    -webkit-transform: scale(0.55, 0.55);
            transform: scale(0.55, 0.55);
    margin-top: -20px;
  }
  .card2:hover {
    -webkit-transform: scale(0.65, 0.65);
            transform: scale(0.65, 0.65);
  }
  .card3:hover {
    -webkit-transform: scale(0.65, 0.65);
            transform: scale(0.65, 0.65);
  }
  .bg3 {
    height: 450px;
  }
  #welcome {
    font-size: .6rem;
  }
  #name {
    font-size: 1.2rem;
  }
  #position {
    font-size: 1.3rem;
  }
  #bio {
    font-size: .7rem;
  }
  .bg1 {
    height: 800px;
  }
  #scroll-down {
    top: -120px;
  }
  .logo {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  .title {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
    margin-left: -30px;
  }
  .modal-header .modal-title {
    font-size: .9rem;
  }
  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    margin: 2px 0;
  }
}

@media only screen and (max-width: 419px) {
  .card2 {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
    margin-top: -250px;
  }
  .card3 {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
    margin-top: -100px;
  }
  .card2:hover {
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
  }
  .card3:hover {
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
  }
  #glass {
    margin-top: -550px;
  }
  .bg3 {
    height: 395px;
  }
}

@media only screen and (max-width: 400px) {
  .card2 {
    -webkit-transform: scale(0.45, 0.45);
            transform: scale(0.45, 0.45);
    margin-top: -250px;
  }
  .card3 {
    -webkit-transform: scale(0.45, 0.45);
            transform: scale(0.45, 0.45);
    margin-top: -110px;
  }
  .card2:hover {
    -webkit-transform: scale(0.55, 0.55);
            transform: scale(0.55, 0.55);
  }
  .card3:hover {
    -webkit-transform: scale(0.55, 0.55);
            transform: scale(0.55, 0.55);
  }
  #glass {
    margin-top: -550px;
  }
  .bg3 {
    height: 400px;
  }
}

@media only screen and (max-width: 375px) {
  #glass {
    -webkit-transform: scale(0.3, 0.3);
            transform: scale(0.3, 0.3);
    margin-top: -750px;
  }
  .card2 {
    -webkit-transform: scale(0.4, 0.4);
            transform: scale(0.4, 0.4);
    margin-top: -300px;
  }
  .card3 {
    -webkit-transform: scale(0.4, 0.4);
            transform: scale(0.4, 0.4);
    margin-top: -200px;
  }
  .card2:hover {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
  .card3:hover {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
  .bg3 {
    height: 320px;
  }
  #scroll-down {
    top: -140px;
  }
  .modal-header .modal-title {
    font-size: .8rem;
  }
}
/*# sourceMappingURL=breakpointclass.css.map */